language: node_js
node_js:
- '6'
dist: trusty
before_install: |
    set -ev
    set -o pipefail
    npm install -g npm
    npm install -g @alrra/travis-scripts
deploy:
    provider: script
    script: ./.travis/deploy.sh
    skip_cleanup: true
    on:
        all_branches: true
cache:
  directories:
    - node_modules
